<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/Apply.css' %}">

    <title>Job Details</title>
</head>
<body>
    <div class="JobTitle">
        
    </div>
    <div class="container">
        <div class="row JobDetails">
          <div class="col-6 mb-3">
             <h1>Job Title Details </h1>
          </div>
          <div class="col-6" style="text-align: center;">
            <h1>Apply</h1>

          </div>

        </div>
        <div class="row JobApply">
          <div class="col-5  Apply2">
                <h2 class="JobTitle">{{job.JobTitle}}</h2>
                <h5 class="Location">{{job.city}}, {{job.country}} </h5>
                
                <p>{{job.details}}</p>
          </div>
          <div class="col-2">
              <h1 class="m-4">A</h1>
              
              <h1 class="m-4">P</h1>
              <h1 class="m-4">P</h1>
              <h1 class="m-4">L</h1>
              <h1 class="m-4">Y</h1>

          </div>
          <div class="col-5 bg-success  Apply3">
            <form action="/Success/" method="POST">
              {% csrf_token %}
              <div class="row m-4">
                <div class="col-4 "> 
                  <h5>First Name:</h5>
                </div>
                <div class="col-6">
                  <input type="text" class="input" name="FirstName" id="" required>
                </div>
              </div>
              <div class="row m-4">
                <div class="col-4 "> 
                  <h5>Last Name:</h5>
                </div>
                <div class="col-6">
                  <input type="text" class="input" name="LasttName" id="" required>
                </div>
              </div>
              <div class="row m-4">
                <div class="col-4 "> 
                  <h5>Gender:</h5>
                </div>
                <div class="col-6">
                  Male<input type="radio" name="Gender" id="" class="m-1" >
                  Famle<input type="radio" name="Gender" id=""class="m-1">
                  other<input type="radio" name="Gender" id="" class="m-1">
                </div>
              </div>
              <div class="row m-4">
                <div class="col-4 "> 
                  <h5>Birth of Date:</h5>
                </div>
                <div class="col-6">
                  <input type="date" class="BOD" name="BOD" id="" required>
                </div>
              </div>
              <div class="row m-4">
                <div class="col-4 "> 
                  <h5>Email:</h5>
                </div>
                <div class="col-6">
                  <input type="email" class="input" name="Email" id="" required>
                </div>
              </div>
              
              <div class="row m-4">
                <div class="col-4 "> 
                  <h5>Mobile:</h5>
                </div>
                <div class="col-6">
                  <input type="text" class="input" name="FirstName" id="" required>
                </div>
              </div>
              <div class="row m-4">
                <div class="col-4 "> 
                  <h5>Skill:</h5>
                </div>
                <div class="col-6">
                  <textarea name="Skill" id="" cols="30" rows="4" required></textarea>
                </div>
              </div>
              <div class="row m-4">
                <div class="col-4 "> 
                  <button type="submit" class="btn">Apply</button>

                </div>
              </div>
            </form>
            

          </div>

            
        </div>

    </div>
    
</body>
</html>