<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
    <title>Career Portal </title>
    <!-- <title>Document</title> -->
</head>
<body class="bg-primary">
    <div class="bg-white" style="height: 100px;">
        <h1 class="m-3 headerTitle ">Career || Apply for Job</h1>

    </div>
    <div class="container bg-white mt-4 jobbox">
        <div class="row ">
            <div class="col-6 box"> 
                <div class="searchbox">
                    <div class="row " >
                   
                        <div class="col-3  text"><input type="text"  placeholder="Job Title">   </div>
                        <div class="col-3  text"><input type="text" placeholder="City" > </div>
                        <div class="col-3  text"><input type="text" placeholder="Country" ></div>
                        <div class="col-1 search">
                        <button type="submit" class="bg-primary btn ">Search</button>
                        </div>


                    </div>
                </div>    
            </div>    
                
                {% for job in alljob %}
                <div class="job">
                    <div class="row">
                        <div class="col-10"><h3>{{job.JobTitle}}</h3></div>
                        <div class="col-1 mt-4"> <a href="{% url 'Apply' job.id %}" ><button class="Apply">Apply</button> </a> </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-2 bg-white mb-1 joblist">{{job.city}}</div>
                        <div class="col-2 bg-white mb-1 joblist">{{job.country}}</div>
                        <div class="col-2 bg-white mb-1 joblist">{{job.LastDate}}</div>
                        
                       
                    </div>
                
                </div>
                

                {% endfor %}

                 
                   
        </div>
        
    
    </div>
</body>
</html>  