.JobTitle{
    /* text-align: center; */
    font:12px;
    margin-top: 30px;
}

.JobDetails{
    /* margin: 3px; */
    margin-bottom: 30px;
    background-color: rgb(6, 245, 245);
    
}
.JobApply{
    /* background-color: blanchedalmond; */
    height: 400px;
}
.Apply2{
    background-color: aqua;
}

.Location{
    color: blue;
}

.Apply3{
    background-color: aqua;
}
.input{
    border-radius: 5px;
}
.BOD{
    border-radius: 20px;
    width: 180px;
    text-align: center;
}

.btn{
    padding-right: 40px;
    background-color: blue;
    margin-left: 150px;
    color: antiquewhite;
    font-size:larger;
}